POSTGRES_DB=varlens_dev
POSTGRES_USER=varlens
POSTGRES_PASSWORD=varlens_dev_password
VARLENS_PG_PORT=55432
VARLENS_PG_URL=postgres://varlens:varlens_dev_password@127.0.0.1:55432/varlens_dev
VARLENS_PG_SCHEMA=public
